<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ getPageTitle() }} - {{ activeBudget.getFirstDayOfMonth()|date:'LLLL' }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let budgetLine of budgetLines" (click)="onUpdateCategory(budgetLine)">
      <ion-label>
        {{ budgetLine.name }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddBudgetLine()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
