<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate?"Modification client":"Création client"}}</ion-title>
    <ion-buttons slot="end" *ngIf="isUpdate">
      <ion-button (click)="onDelete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form [formGroup]="myForm" (ngSubmit)="onSave()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Année</ion-label>
        <ion-input formControlName="year"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mois</ion-label>
        <ion-input formControlName="month"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Solde de départ</ion-label>
        <ion-input formControlName="startBalance"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="ion-padding" expand="full" color="success" [disabled]="myForm.invalid">
      <ion-icon name="save-outline"></ion-icon>
      <ion-label class="ion-padding">Enregistrer</ion-label>
    </ion-button>
  </form>

</ion-content>
