<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-divider>
      <ion-label>Catégories de dépenses et revenus</ion-label>
    </ion-item-divider>
    <ion-item (click)="onExpenseCategory()">
      <ion-label>
        Dépenses
      </ion-label>
    </ion-item>
    <ion-item (click)="onIncomeCategory()">
      <ion-label>
        Revenus
      </ion-label>
    </ion-item>
    <ion-item-divider>
      <ion-label>Unités de mésure</ion-label>
    </ion-item-divider>
    <ion-item (click)="onUnitOfMeasure()">
      <ion-label>
        Unités
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
