<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Budget - {{ activeBudget.getFirstDayOfMonth()|date:'LLLL' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider>
      <ion-label>Planifier les sources de revenu et de dépenses</ion-label>
    </ion-item-divider>
    <ion-item [button]="true" [detail]="false" (click)="onScheduleExpense()">
      <ion-label>Les dépenses</ion-label>
    </ion-item>
    <ion-item [button]="true" [detail]="false" (click)="onScheduleIncome()">
      <ion-label>Le revenu</ion-label>
    </ion-item>
  </ion-list>
</ion-content>